
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    padding: 50px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#title, #description{
    padding-bottom: 15px;
    text-align: center;
    color: rgb(27, 13, 59);
}

#survey-form{
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: rgba(23, 23, 56, .8);
    font-size: 20;
    border-radius: 5px;
}

input:not([type='checkbox']):not([type='radio']),
select, textarea, button{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: none;
}

span{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

label{
    display: inline-block;
    margin-bottom: 10px;
}

#submit{
    background-color: greenyellow;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #survey-form{
        margin: 20px;
    }
}